<header>
  <div class="container">
    <a class="skip-link" href='#main'>Skip to content</a>
    <a class="logo" aria-label="click to go to home page" href="/">
      <img
        class="light"
        aria-hidden="true"
        src="https://codestitch.app/frontend/images/logo.png"
        decoding="async"
        alt="logo"
        width="214"
        height="41"/>
    </a>
    <nav aria-label="header navigation">
      <ul>
        {% set navPages = collections.all | eleventyNavigation %}
        {%- for entry in navPages %}
          <li>
            <a {% if entry.url == page.url %} class="active" {% endif %} href="{{ entry.url }}">
              {{ entry.key }}
            </a>
          </li>
        {%- endfor %}
      </ul>
    </nav>
    <button id="hamburger" aria-hidden="true">
      <span></span>
    </button>
  </div>
</header>