<header>
  <div class="container">
    <a class="skip-link" href='#main'>Skip to content</a>
    <a class="logo" aria-label="click to go to home page" href="/">
      <img
        class="light"
        aria-hidden="true"
        src="https://codestitch.app/frontend/images/logo.png"
        decoding="async"
        alt="logo"
        width="214"
        height="41"/>
    </a>
    <nav aria-label="header navigation">
      <ul>
        <li><a class="active" href="/">Home</a></li>
      </ul>
    </nav>
    <button id="hamburger" aria-hidden="true">
      <span></span>
    </button>
  </div>
</header>