<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>The Stitch Starter Kit</title>
    <script src="/assets/js/nav.js" defer></script>

    <!-- placeholder styles from modules will be here -->
    <!-- merge into a proper stylesheet setup when all modules are downloaded-->
    {% include "_styles/starter-styles-css.html" %}
    {% include "_styles/posts.html" %}

  </head>
  <body>
    {% include "components/header.html" %}
    <main>
      {% block content %}{% endblock %}
    </main>
    {% include "components/footer.html" %}
  </body>
</html>