<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>The Stitch Starter Kit</title>
    <script src="/assets/js/nav.js" defer></script>


    <!-- placeholder styles - merge or delete as per _kit instructions -->
    {% include "../../_kit/styles/starter-styles-css.html" %}

    <!-- anything that needs to be transferred to better-base.html goes below here -->
    <link rel="stylesheet" href="/css/critical-styles.css"/>
    <link rel="stylesheet" href="/css/styles.css" media="print" onload="this.media='all'; this.onload=null;"/>
    <noscript>
      <link rel="stylesheet" href="/css/styles.css"/>
    </noscript>
  </head>
  <body>
    {% include "components/header.html" %}
    <main>
      {% block content %}{% endblock %}
    </main>
    {% include "components/footer.html" %}
  </body>
</html>