:root {
  // colours
  --primary: #4e1717;
  --primaryLight: #8f4e4e;
  --secondary: #89796a;
  --secondaryLight: #d6d0cc;

  --headerColor: #252422;
  --bodyTextColor: #252422;
  --label: #252422;

  // fonts
  --headerFontFamily: 'Arial Black';
  --bodyFontFamily: 'Helvetica';

  // section spacings
  --sectionPadding: clamp(3.75em, 7.82vw, 6.25em) 1rem; // 60px - 100px top and bottom

  // font sizes
  --titleFontSize: clamp(2.43rem, 4.31vw, 3.82rem); // 38px - 61px
  --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem); // 31px - 49px
  --subheaderFontSize: clamp(1.69rem, 2.44vw, 2.44rem); // 27px - 39px
  --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem); // 13px - 16px
  --bodyFontSize: clamp(0.875rem, 2.5vw, 1rem); // 14px - 16px

  // dark mode styles
  --dark: #121212;
  --medium: #282828;
  --accent: #404040;
  --bodyTextColorWhite: #fafbfc;
}
