@use '../utilities' as *;

/*-- -------------------------- -->
<---          Footer            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0em) {
  #footer {
    font-family: var(--bodyFontFamily);
    /* 60px - 100px top and bottom */
    padding: clamp(3.75em, 7.82vw, 6.25em) calc(16 / 16) * 1em;
    background-color: #1a1a1a;

    .container {
      width: 100%;
      /* reset on tablet */
      max-width: calc(550 / 16) * 1em;
      margin: auto;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
      column-gap: calc(88 / 16) * 1em;
      row-gap: calc(32 / 16) * 1em;
    }

    .logo-group {
      /* takes up all the space, lets the other ul's wrap below it */
      width: 100%;
      position: relative;
    }

    .logo {
      /* 210px - 240px */
      width: clamp(13.125em, 8vw, 15em);
      height: auto;
      display: block;
      /* 28px - 44px */
      margin-bottom: clamp(1.75em, 4.17vw, 2.75em);
    }

    .text {
      /* 14px - 16px */
      font-size: var(--bodyFontSize);
      line-height: 1.5em;
      margin: 0;
      width: 78%;
      margin-bottom: calc(32 / 16) * 1em;
      /* changes to 305px at desktop */
      max-width: calc(540 / 16) * 1em;
      color: var(--bodyTextColorWhite);
    }

    .logo-img {
      width: 100%;
      height: auto;

      &.dark {
        display: none;
      }
    }

    .social {
      display: inline-flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: calc(12 / 16) * 1em;
      position: absolute;
      top: 0;
      right: 0;
    }

    .social-link {
      width: calc(24 / 16) * 1rem;
      height: calc(24 / 16) * 1rem;
      background-color: var(--primaryLight);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 1;
      transition: transform 0.3s, background-color 0.3s;

      &:hover {
        background-color: #1a1a1a;
        transform: translateY(-0.1875rem);
      }
    }

    .social-img {
      height: calc(13 / 16) * 1em;
      width: auto;
      display: block;
    }

    /* Navigation Links */
    .nav {
      padding: 0;
      margin: 0;
    }

    .nav-li {
      list-style: none;
      margin-bottom: calc(16 / 16) * 1em;
      &:last-of-type {
        margin-bottom: 0;
      }
    }

    .header {
      font-family: var(--headerFontFamily);
      font-size: calc(16 / 16) * 1em;
      line-height: 1.5em;
      font-weight: 700;
      color: var(--bodyTextColorWhite);
      position: relative;

      &:after {
        content: '';
        width: calc(32 / 16) * 1rem;
        height: calc(4 / 16) * 1rem;
        margin: calc(16 / 16) * 1rem auto calc(24 / 16) * 1rem 0;
        background: var(--primary);
        opacity: 1;
        position: relative;
        display: block;
      }
    }

    .nav-link {
      font-size: calc(16 / 16) * 1rem;
      text-decoration: none;
      line-height: 1.5em;
      color: var(--bodyTextColorWhite);
      position: relative;

      &:before {
        /* underline */
        content: '';
        width: 0%;
        height: calc(2 / 16) * 1em;
        background: var(--bodyTextColorWhite);
        opacity: 1;
        position: absolute;
        display: block;
        bottom: calc(2 / 16) * -1em;
        left: 0;
        transition: width 0.3s;
      }

      &:hover {
        &:before {
          width: 100%;
        }
      }
    }

    /* Contact Links */
    .contact {
      margin: 0;
      padding: 0;
      width: 35%;
    }

    .contact-li {
      list-style: none;
      margin-bottom: calc(0 / 16) * 1em;
      &:last-of-type {
        margin-bottom: 0;
      }
    }

    .contact-link {
      font-size: calc(16 / 16) * 1rem;
      text-decoration: none;
      line-height: 1.5em;
      text-align: left;
      color: var(--bodyTextColorWhite);
      display: inline-block;

      &:hover {
        text-decoration: underline;
      }
    }

    .address {
      font-size: calc(16 / 16) * 1rem;
      margin-bottom: calc(20 / 16) * 1rem;
    }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48em) {
  #footer {
    .container {
      max-width: calc(1280 / 16) * 1em;
      row-gap: 0;
    }

    .contact {
      flex-direction: row;
      justify-content: space-between;
      border-top: none;
    }

    .contact-li {
      margin: 0;
    }
  }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64em) {
  #footer {
    .container {
      /* pushes all flex children to the top */
      align-items: flex-start;
      justify-content: flex-end;
    }

    .logo-group {
      /* pushes everything to the right of it as far as possible in a flexbox */
      margin-right: auto;
      width: auto;
      max-width: calc(305 / 16) * 1em;
    }

    .text {
      width: 100%;
    }

    .social {
      flex-direction: row;
      position: relative;
      top: auto;
      right: auto;
    }

    .contact {
      width: auto;
    }
  }
}
