/*-- -------------------------- -->
<---          Footer            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0em) {
  #cs-footer {
    font-family: var(--bodyFontFamily);
    /* 40px - 100px top and bottom */
    padding: clamp(2.5em, 7.9vw, 6.25em) calc(16 / 16) * 1em;
    background-color: #14142b;

    .cs-container {
      width: 100%;
      /* reset on tablet */
      max-width: calc(550 / 16) * 1em;
      margin: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    }

    .cs-logo-group {
      /* takes up all the space, lets the other ul's wrap below it */
      width: 100%;
    }

    .cs-logo {
      /* 210px - 240px */
      width: clamp(13.125em, 8vw, 15em);
      height: auto;
      display: block;
      /* 28px - 44px */
      margin-bottom: clamp(1.75em, 4.17vw, 2.75em);
    }

    .cs-text {
      /* 14px - 16px */
      font-size: clamp(0.875rem, 1.7vw, 1rem);
      margin: 0;
      margin-bottom: calc(32 / 16) * 1em;
      max-width: calc(328 / 16) * 1em;
      color: var(--bodyTextColorWhite);
    }

    .cs-logo-img {
      width: 100%;
      height: auto;
    }

    /* Navigation Links */
    .cs-nav {
      padding: 0;
      margin: 0;
    }

    .cs-nav-li {
      list-style: none;
      margin-bottom: calc(20 / 16) * 1em;
      &:last-of-type {
        margin-bottom: 0;
      }
    }

    .cs-header {
      font-size: clamp(1.125rem, 1.5vw, 1.25rem);
      line-height: 1.5em;
      font-weight: 700;
      color: var(--bodyTextColorWhite);
    }

    .cs-nav-link {
      font-size: calc(16 / 16) * 1rem;
      text-decoration: none;
      line-height: 1.5em;
      color: var(--bodyTextColorWhite);
      position: relative;

      &:before {
        /* underline */
        content: '';
        width: 0%;
        height: calc(2 / 16) * 1em;
        background: var(--bodyTextColorWhite);
        opacity: 1;
        position: absolute;
        display: block;
        bottom: calc(2 / 16) * -1em;
        left: 0;
        transition: width 0.3s;
      }

      &:hover {
        &:before {
          width: 100%;
        }
      }
    }

    /* Contact Links */
    .cs-contact {
      margin: calc(36 / 16) * 1em 0 0;
      padding: calc(24 / 16) * 1em 0 calc(28 / 16) * 1em;
      width: 100%;
      border-top: 1px solid #dad9e3;
      border-bottom: 1px solid #dad9e3;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .cs-contact-li {
      list-style: none;
      margin-bottom: calc(12 / 16) * 1em;
      &:last-of-type {
        margin-bottom: 0;
      }
    }

    .cs-contact-link {
      /* 14px - 20px */
      font-size: clamp(0.875rem, 1.57vw, 1.25rem);
      text-decoration: none;
      font-weight: 700;
      line-height: 1.5em;
      text-align: center;
      color: var(--bodyTextColorWhite);
      display: inline-block;

      &:hover {
        text-decoration: underline;
      }
    }

    .cs-address {
      /* 14px - 16px */
      font-size: clamp(0.875rem, 1.57vw, 1rem);
    }

    /* Bottom Credits and Social */
    .cs-bottom {
      /* 20px - 28px */
      padding-top: clamp(1.25em, 2vw, 1.75em);
      width: 100%;
      display: flex;
      /* set everyone to position on the left side */
      justify-content: flex-start;
      align-items: center;
      /* These two are Needed to make 3D transforms look 3D on a child */
      perspective: 700px;
      transform-style: preserve-3d;
    }

    .cs-copyright {
      font-size: calc(15 / 16) * 1em;
      text-align: center;
      color: var(--label);
      display: block;
      /* margin right auto on a flexbox pushes everyone else to the right */
      margin: 0 auto 0 0;
    }

    .cs-social-link {
      width: calc(20 / 16) * 1rem;
      height: calc(20 / 16) * 1rem;
      margin-left: calc(12 / 16) * 1rem;
      background-color: #4e4b66;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 1;
      transition: transform 0.3s, background-color 0.3s;

      &:hover {
        background-color: #1a1a1a;
        transform: translateY(-0.1875rem);
      }
    }

    .cs-social-img {
      height: calc(11 / 16) * 1em;
      width: auto;
      display: block;
    }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48em) {
  #cs-footer {
    .cs-container {
      max-width: calc(1280 / 16) * 1em;
    }

    .cs-logo-group {
      width: auto;
      /* 224px - 305px */
      width: clamp(14em, 23vw, 19.0625em);
    }

    .cs-nav {
      /* 4px - 12px */
      margin-top: clamp(0.25em, 0.6vw, 0.75em);
    }

    .cs-contact {
      flex-direction: row;
      justify-content: space-between;
      border-top: none;
    }

    .cs-contact-li {
      margin: 0;
    }
  }
}
